In [27]:
# Dependencies
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
import pymongo
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import os

# First part of the homework #
## find the top news story headline and the summary ##

In [ ]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [ ]:
# Define database and collection
db = client.mars_db
collection = db.articles

In [ ]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news/'

# Retrieve page with the requests module
response = requests.get(url)
# Create BeautifulSoup object; parse with 'html.parser'
soup = bs(response.text, 'lxml')

In [ ]:
# Retrieve the parent divs for all articles
results = soup.find_all('div', class_='slide')

# loop through results to get items
for result in results:

    title = result.find('div', class_='content_title').text

    paragraph = result.find('div', class_='rollover_description_inner').text

    date = result.find('div', class_='list_date')


    print('-----------------')
    print(title)
    print(paragraph)
    print(date) #date isn't found.  on webpage there is a div but not in response

In [ ]:
# assign response to variables and print

news_title = soup.find('div', class_='content_title').text
news_p = soup.find('div', class_='rollover_description_inner').text

print('----------')
print(news_title)
print(news_p)

In [ ]:
print(news_title)
print(news_p)

 # Second part of homework (get the featured image url from JPL page)#

In [ ]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [ ]:
url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html'
browser.visit(url)

In [ ]:
# HTML object
html = browser.html
base2 = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/'
# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')
# find the parent div of the image
img_url = soup.find('div', class_='floating_text_area')
# find the href within the div
ref = img_url.find('a')['href']
# build the final link for the featured image
featured_image_url = base2 + ref

In [ ]:
ref

In [ ]:
print(featured_image_url)

In [ ]:
browser.quit()

# Third part of homework (use pandas to get table from webpage)#

In [28]:
url = 'https://space-facts.com/mars/'

In [77]:

tables = pd.read_html(url)
table = tables[0]
table

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [78]:
table.loc[:,0]

0    Equatorial Diameter:
1         Polar Diameter:
2                   Mass:
3                  Moons:
4         Orbit Distance:
5           Orbit Period:
6    Surface Temperature:
7           First Record:
8            Recorded By:
Name: 0, dtype: object

In [92]:
# for i in range(len(table)):
#     print(table.loc[i, 0])
[print(table.loc[i, 0]) for i in range(len(table))]

Equatorial Diameter:
Polar Diameter:
Mass:
Moons:
Orbit Distance:
Orbit Period:
Surface Temperature:
First Record:
Recorded By:

[None, None, None, None, None, None, None, None, None]

In [86]:
range(len(table))

range(0, 9)

In [57]:
# found solutions https://stackoverflow.com/questions/11346283/renaming-columns-in-pandas #2192
table.columns = ['Description','Mars']

In [58]:
table

            Description                           Mars
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [64]:
html = table.to_html(index=False)
#write html to file
text_file = open("table.html", "w")
text_file.write(html)
text_file.close()

In [75]:
table.loc[:,'Description']

0    Equatorial Diameter:
1         Polar Diameter:
2                   Mass:
3                  Moons:
4         Orbit Distance:
5           Orbit Period:
6    Surface Temperature:
7           First Record:
8            Recorded By:
Name: Description, dtype: object

In [76]:
table

            Description                           Mars
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [ ]:
# Mars Hemispheres #

In [2]:
# URL of page to be scraped
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

# Retrieve page with the requests module
response = requests.get(url)
# Create BeautifulSoup object; parse with 'html.parser'
soup = bs(response.text, 'html.parser')

In [3]:
results = soup.find_all('div', class_='item')

In [26]:
# iterate through results to get title and href of images
# found solution for finding href here:  https://stackoverflow.com/questions/38570411/how-to-scrape-href-with-python-3-5-and-beautifulsoup

base = 'https://astropedia.astrogeology.usgs.gov/download/'
for result in results:
    print(result.find('h3').text)
    print(base + (result.a['href'][12:]) + '.tif' + '/full.jpg')

Cerberus Hemisphere Enhanced
https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg
Schiaparelli Hemisphere Enhanced
https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg
Syrtis Major Hemisphere Enhanced
https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg
Valles Marineris Hemisphere Enhanced
https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg

In [23]:
result.a['href'][12:]

'Mars/Viking/valles_marineris_enhanced'

In [6]:
 title_obj = [i.h3.text for i in results]
 href_obj = [base + i.a['href'] + '.tif' for i in results]
#  for i in soup.find_all('div', class_='item'):
#      print(i.a['href'])
print(href_obj)
print(title_obj)

['https://astrogeology.usgs.gov//search/map/Mars/Viking/cerberus_enhanced.tif', 'https://astrogeology.usgs.gov//search/map/Mars/Viking/schiaparelli_enhanced.tif', 'https://astrogeology.usgs.gov//search/map/Mars/Viking/syrtis_major_enhanced.tif', 'https://astrogeology.usgs.gov//search/map/Mars/Viking/valles_marineris_enhanced.tif']
['Cerberus Hemisphere Enhanced', 'Schiaparelli Hemisphere Enhanced', 'Syrtis Major Hemisphere Enhanced', 'Valles Marineris Hemisphere Enhanced']

In [7]:
# hemisphere_image_urls = {}.fromkeys(['title','img_url'],(title_obj, href_obj))
# hemisphere_image_urls
hemisphere_image_urls = []
for i in range(len(title_obj)):
    dict = {}
    dict['title'] = title_obj[i]
    dict['img_url'] = href_obj[i]
    hemisphere_image_urls.append(dict)
print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov//search/map/Mars/Viking/cerberus_enhanced.tif'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov//search/map/Mars/Viking/schiaparelli_enhanced.tif'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov//search/map/Mars/Viking/syrtis_major_enhanced.tif'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov//search/map/Mars/Viking/valles_marineris_enhanced.tif'}]

In [13]:
hemisphere_image_urls[1,2]

TypeError: list indices must be integers or slices, not tuple